<div class="jumbotron">
  <style type="text/css">
    .jumbotron {
      width: 100%;
      height: 450px;
      background:url(<%= asset_path '928365_s.jpg' %>) center;
      background-size: cover;
    }
  </style>
</div>
<p class="text-muted text-center">
*    *    *    *    *    *    *    *    *<br><br>
  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
お子様からお年寄りの方までお召し上がりいただけるよう、様々なバリエーションをご用意しております。<br>
<br>
<br>全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>ぜひご注文ください。<br><br>
*    *    *    *    *    *    *    *    *<br>
</p>
