<p>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</p>

<h2>新着商品</h2>

  <% @items.each do |item| %>
  <%= attachment_image_tag item, :image, :fill, 200, 100, format: 'jpeg' %><br>
    <%= item.name %><br>
    <%= item.price %><br>
  <% end %>

<%= link_to '全ての商品を見る>>', items_path %>
