<h2 class="btn btn-secondary btn-lg mb-5">会員一覧</h2>

<div class="center-block">
<table class="table">
  <thead class="table-secondary">
    <tr>
      <th style="width: 10%">会員ID</th>
      <th style="width: 25%">氏名</th>
      <th style="width: 40%">メールアドレス</th>
      <th style="width: 25%">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <th><%= customer.id %></th>
      <th><u><%= link_to customer.full_name, admin_customer_path(customer.id), class:"text-dark" %></u></th>
      <th><%= customer.email %></th>
      <th>
        <% if customer.is_active %>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-muted">無効</p>
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>

</div>