<h2  class="btn btn-secondary btn-lg mb-5">ジャンル編集</h2>

  <%= form_with model: @genre, url: admin_genre_path(@genre.id), local:true do |f| %>
    <span class="pr-3">ジャンル名</span>
    <%= f.text_field :name %>
    <%= f.submit '変更を保存',class: "btn btn-success" %>
  <% end %>
