<div class="jumbotron">
  <style type="text/css">
    .jumbotron {
      width: 100%;
      height: 500px;
      background:url(<%= asset_path '22274594.jpg' %>) center no-repeat;
      background-size: cover;
    }
  </style>
</div>

<div class="text-center">
  <p>ご注文ありがとうございました。</p>
</div>